@font-face{
    font-family: "Inter";
    src: url(./Font/Inter.ttf);
}

.body{
    padding: 30px;
}

#SecTitle_1{
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

#HeadphoneDiv_1{
     width: 258px;
     height: 258px;
     margin-top: 38px;
     margin-left: 540px;
}

.Headphone{
    width: 258px;
    height: 258px;
}

#SecText_1{
    margin-top: 36px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

#HeadphoneDiv_2{
    width: 258px;
    height: 258px;
    margin-top: 58px;
    margin-left: 540px;
}

#SecTitle_2{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
}

#SecText_2{
    margin-top: 27px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

#SecTitle_3{
    margin-top: 165px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

#CoinDiv{
    width: 237px;
    height: 184px;
}

#Coin{
    width: 237px;
    height: 184px;
    margin-top: 30px;
}

#SecText_3{
    margin-top: 40px;
}

.TextsInSection{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

#SecTitle_4{
    margin-top: 74px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

#LastFictureDiv{
    margin-top: 32px;
    width: 323px;
    height: 148px;
}

#LastFicture{
    width: 323px;
    height: 148px;
}

#SecText_4{
    margin-top: 20px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}